body {
    margin: 0;
    padding: 0;
    background-color: #F8FBFF;
    font-family: "Poppins", sans-serif;
}

/*Header Principal*/
.header-principal {
    background-color: #090D18;
    width: 100%;
    height: 5.5vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brainbox-logo {
    display: flex;
    width: 15vw;
    margin: 4vw;
    cursor: pointer;
}

.logo-brainbox {
    width: 3.4vw;
    margin: auto 0.75vw;
}

.logotipo-brainbox {
    width: 8.5vw;
    height: auto;
}

/*Barra e Botão de Pesquisa*/
.search {
    display: flex;
    margin: auto;
}

/*Barra de Pesquisa*/
.search-bar {
    background: none;
    outline: none;
    border: 0.03vw solid rgba(195, 221, 255, 0.2);
    border-radius: 0.5vw 0 0 0.5vw;
    width: 30vw;
    height: 2vw;
    color: rgba(248, 251, 255, 0.75);
    font: 400 0.9vw "Poppins";
    transition: all 0.5s;
    margin-right: 0;
    padding-left: 1.5vw;
    padding-right: 0.5vw;
}

.search-bar::placeholder {
    color: rgba(195, 221, 255, 0.5);
    font: 400 0.9vw "Poppins";
    margin: auto;
}

.search-bar:focus {
    border-color: rgba(195, 221, 255, 0.8);
}

/*Botão de Pesquisa*/
.search-btn {
    width: 3.4vw;
    height: 2vw;
    background: linear-gradient(220deg, #0002C4 -40%, #62B6CB 100%);
    border-width: 0.03vw 0;
    border-style: solid;
    border-color: rgba(195, 221, 255, 0.2);
    border-radius: 0 0.3vw 0.3vw 0;
    transition: all 0.2s;
    margin-left: 0;
    cursor: pointer;
}

.search-btn:hover {
    box-shadow: 0 0.125vw 2.5vw rgba(146, 147, 255, 0.5);
    background: linear-gradient(220deg, #0002C4 -20%, #4886C9 10%, #62B6CB 100%);
}

.search-icon {
    width: 1.2vw;
    height: auto;
    margin: auto;
}

/*Botão de Usuário*/
.btn-user-login {
    width: 6vw;
    height: 2vw;
    color: #F8FBFF;
    font: 400 1vw "Poppins";
    margin: auto 0 auto auto;
    background: none;
    border: none;
    border-radius: 0.3vw;
    transition: all 0.25s;
    cursor: pointer;
}

.btn-user-login:hover {
    font-weight: 500;
    text-decoration: underline;
}

.btn-user-signup {
    margin: auto 1.5vw auto 0;
    transition: all 0.25s;
    /*background: linear-gradient(220deg, #0002C4 -30%, #4886C9 100%);*/
    background-color: #0608C4;
    border: none;
    border-radius: 0.3vw;
    width: 8vw;
    height: 2vw;
    color: #F8FBFF;
    font: 500 1vw "Poppins";
    cursor: pointer;
}

.btn-user-signup:hover {
    box-shadow: 0 0.125vw 2.5vw rgba(146, 147, 255, 0.5);
    background-color: #4886C9;
}

/*Botão de Compra*/
.btn-basket {
    width: 1.5vw;
    height: auto;
    margin: auto 5vw auto 0.5vw;
    cursor: pointer;
}

/*Menu Principal*/
nav {
    height: 2.5vw;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    /*background: linear-gradient(90deg, #000276 0%, #0608C4 35%, #4886C9 80%, #62B6CB 100%);*/
    background-color: #090D18;
}

/*Categorias*/
.categorias-menu {
    margin-inline: 3vw;
    color: #FFFFFF;
    font: 400 1vw "Poppins";
    text-decoration: none;
    transition: all 0.2s;
}

.categorias-menu:hover {
    letter-spacing: 0.25em;
}

.btn-list {
    margin-left: 5vw;
    width: 2vw;
    height: auto;
    cursor: pointer;
}

/*Formulario*/
.cadastro {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    border-radius: 1vw;
    padding: 40px;
    margin: 40px;
}

main {
    margin: 2vw 0 2vw 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-cadastro {
    color: #090D18;
    font: 600 2.5vw "Poppins";
    text-align: center;
    margin-bottom: 2vw;
}

.form-cadastro {
    width: 26vw;
    height: 2vw;
    background: none;
    color: #090D18;
    font: 400 1vw "Poppins";
    border-style: solid;
    border-width: 0px 0px 0.15vw 0px;
    border-color: #090D18;
    margin-bottom: 1.5vw;
    transition: all 0.2s;
}

.form-cadastro::placeholder {
    font: 300 1vw "Poppins";
    color: #7a83a5;
}

.form-cadastro:focus {
    border-image:linear-gradient(to left, #4864c9 0%, #62B6CB 100%) 1;
    cursor: text;
    outline: none;
}

label {
    font: 600 1vw "Poppins";
    color: #090D18;
}

.button-cadastro {
    color: #FFFFFF;
    font: 500 1.5vw "Poppins";
    width: 26vw;
    height: 3vw;
    background-color: #0608C4;
    border-radius: 8px;
    border: none;
    margin-top: 1vw;
    transition: all 0.2s;
    cursor: pointer;
}

.button-cadastro:hover {
    background-color: #000276;
}

.form-divs {
    display: flex;
    align-items: center;
}
#password {
    width: 12vw;
    margin-right: 1vw;
}

#confirm-password {
    width: 12vw;
}

#cpf {
    width: 12vw;
    margin-right: 1vw;
}

#birthdate {
    width: 13vw;
}

#estado {
    width: 5vw;
    margin-right: 1vw;
}

#cidade {
    width: 20vw;
}

#rua {
    width: 20vw;
    margin-right: 1vw;
}

#num-house {
    width: 5vw;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.login {
    color: #090D18;
    font: 400 1vw "Poppins", sans-serif;
    transition: all 0.2s;
}

.btn-login {
    font: 600 1vw "Poppins", sans-serif;
    color: #090D18;
}
/*Rodapé*/
footer {
    background-color: #090D18;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulo-footer {
    color: #F8FBFF;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3vw;
    margin: 2vw 6vw 0vw 6vw;
}

.line {
    width: 190px;
    height: 10px;
    margin: 0vw 6vw 1vw 6vw;
    background: linear-gradient(90deg, #0608C4 -35%, #62B6CB 100%);
}

.info-footer {
    font-family: "Poppins", sans-serif;
    color: #F8FBFF;
    margin: 1vw 5.8vw 2vw 5.8vw;
    text-align: left;
    font-size: 0.9vw;
}

.categorias-footer {
    margin: 0;
    padding: 1vw;
}

a:-webkit-any-link {
    text-decoration: none;
    color: #F8FBFF;
    cursor: pointer;
    transition: all 0.25s;
}

a:-webkit-any-link:hover {
    font-weight: 500;
    cursor: pointer;
}

 

    
/* FAÇA SUA MIDIA ACIMA DESSA* OBS linha 358*/

@media (max-width: 450px){

    #cadastro{
        width: 80vw;
        height: 100vh;
        margin:0px;
        display: grid;
        justify-content: center;
        box-shadow: none;
    }
    .titulo-cadastro{
        font-size: 2.3rem;
    }
  h3.login{
    font-size: 1rem;
  }
  span.btn-login{
    font-size: 1rem;
  }
  div.column{
    width: 15vw;
    
  }
.form-cadastro input {
    font-size: 3.5vw;
    width: 1vw;

}
.search-bar {
    display: none;
    width: 60vw; 
    height: 5vw; 
    font-size: 3.5vw;
    padding-left: 2vw;
}
.search-btn {
    display: none;
    width: 8vw;
}
.header-principal {
    height: 12vw; 
    padding: 5px 0;
}
.btn-user-login{
    display: none;
}
.btn-user-signup{
    display: none;
}
.btn-basket{
    padding-left: 10px;
    width: 3vw;
}
.logotipo-brainbox{
    width: 18vw;
}
.categorias-menu{
    font-size: 0.6rem;
  
}
.btn-list{
    width: 4%;
    padding: 10px;

    
}
.label{
    font-size: 0.9rem;
}
.button-cadastro{

    width: 100%;
    height: 100%;
    font-size: 0.9rem;
}
footer{
    display: none;
}
#bairro.form-cadastro{
    width: 100%;
    height: 4vh;
    font-size: 14px;
}
#password.form-cadastro{
   
    width: 100%;
    height: 4vh;
    font-size: 14px;
}
#password::placeholder{
    font-size: 13px;
    width: 18vw;
}
#bairro::placeholder{
    font-size: 13px;
    
}
.form-cadastro{
    width: 100%;
}
div.column{
    width: 100%;
}
#name.form-cadastro{
 
    width: 100%;
    height: 4vh;
    font-size: 14px;
}
#email.form-cadastro{
    
    width: 100%;
    height: 4vh;
    font-size: 14px;
}
#cpf{
    
    width: 40vw;
    height: 4vh;
    font-size: 14px;
    padding: 0%;
}

#birthdate{
   
    width: 40vw;
    height: 4vh;
    font-size: 14px;
}
#cidade{
    width: 40vw;
    height: 4vh;
    font-size: 14px;

}
#estado{
    width: 25vw;
    height: 4vh;
    font-size: 14px;
}
#cidade::placeholder{
    font-size: 13px;
    
}
#estado::placeholder{
    font-size: 13px;
    
}
#cpf::placeholder{
    font-size: 13px;
    
}
#rua::placeholder{
    font-size: 13px;
    
}
#email::placeholder{
    font-size: 13px;
    
}
#name::placeholder{
    font-size: 13px;
    
}
#num-house::placeholder{
    font-size: 13px;
    
}
#rua{
    width: 25vw;
    height: 4vh;
    font-size: 14px;
}
#num-house{
    width: 25vw;
    height: 4vh;
    font-size: 14px;
}
#confirm-password{
    width: 100%;
    height: 4vh;
    font-size: 14px;
}
#confirm-password::placeholder{
    font-size: 13px;
    
}
.search-bar::placeholder{
    font-size: 10px;
}
.search-icon{
    width: 40%;
}
nav{
    height: 10vw
};




}