body {
    margin: 0;
    padding: 0;
    background-color: #F8FBFF;
    font-family: "Poppins", sans-serif;
}

/*Header Principal*/
.header-principal {
    background-color: #090D18;
    width: 100%;
    height: 5.5vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brainbox-logo {
    display: flex;
    width: 15vw;
    margin: 4vw;
    cursor: pointer;
}

.logo-brainbox {
    width: 3.4vw;
    margin: auto 0.75vw;
}

.logotipo-brainbox {
    width: 8.5vw;
    height: auto;
}

/*Barra e Botão de Pesquisa*/
.search {
    display: flex;
    margin: auto;
}

/*Barra de Pesquisa*/
.search-bar {
    background: none;
    outline: none;
    border: 0.03vw solid rgba(195, 221, 255, 0.2);
    border-radius: 0.5vw 0 0 0.5vw;
    width: 30vw;
    height: 2vw;
    color: rgba(248, 251, 255, 0.75);
    font: 400 0.9vw "Poppins";
    transition: all 0.5s;
    margin-right: 0;
    padding-left: 1.5vw;
    padding-right: 0.5vw;
}

.search-bar::placeholder {
    color: rgba(195, 221, 255, 0.5);
    font: 400 0.9vw "Poppins";
    margin: auto;
}

.search-bar:focus {
    border-color: rgba(195, 221, 255, 0.8);
}

/*Botão de Pesquisa*/
.search-btn {
    width: 3.4vw;
    height: 2vw;
    background: linear-gradient(220deg, #0002C4 -40%, #62B6CB 100%);
    border-width: 0.03vw 0;
    border-style: solid;
    border-color: rgba(195, 221, 255, 0.2);
    border-radius: 0 0.3vw 0.3vw 0;
    transition: all 0.2s;
    margin-left: 0;
    cursor: pointer;
}

.search-btn:hover {
    box-shadow: 0 0.125vw 2.5vw rgba(146, 147, 255, 0.5);
    background: linear-gradient(220deg, #0002C4 -20%, #4886C9 10%, #62B6CB 100%);
}

.search-icon {
    width: 1.2vw;
    height: auto;
    margin: auto;
}

/*Botão de Usuário*/
.btn-user-login {
    width: 6vw;
    height: 2vw;
    color: #F8FBFF;
    font: 400 1vw "Poppins";
    margin: auto 0 auto auto;
    background: none;
    border: none;
    border-radius: 0.3vw;
    transition: all 0.25s;
    cursor: pointer;
}

.btn-user-login:hover {
    font-weight: 500;
    text-decoration: underline;
}

/*Botão de Sair*/
.btn-user-logout {
    width: 6vw;
    height: 2vw;
    color: #F8FBFF;
    font: 400 1vw "Poppins";
    margin: auto 0 auto auto;
    background: none;
    border: none;
    border-radius: 0.3vw;
    transition: all 0.25s;
    cursor: pointer;
}

.btn-user-logout:hover {
    font-weight: 500;
    text-decoration: underline;
}

/*Botão de Usuário*/
.btn-user {
    width: 2vw;
    height: auto;
    cursor: pointer;
    margin-right: 1vw;
}

#veriLogin{
    height: 5.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#veriLogin div{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#F8FBFF;
    font: 500 1vw "Poppins";
}

.btn-user-signup {
    margin: auto 1.5vw auto 0;
    transition: all 0.25s;
    /*background: linear-gradient(220deg, #0002C4 -30%, #4886C9 100%);*/
    background-color: #0608C4;
    border: none;
    border-radius: 0.3vw;
    width: 8vw;
    height: 2vw;
    color: #F8FBFF;
    font: 500 1vw "Poppins";
    cursor: pointer;
}

.btn-user-signup:hover {
    box-shadow: 0 0.125rem 2.5rem rgba(146, 147, 255, 0.5);
    background-color: #4886C9;
}

/*Botão de Compra*/
.btn-basket {
    width: 1.5vw;
    height: auto;
    margin: auto 5vw auto 0.5vw;
    cursor: pointer;
}



/*Menu Principal*/
nav {
    height: 2.5vw;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    /*background: linear-gradient(90deg, #000276 0%, #0608C4 35%, #4886C9 80%, #62B6CB 100%);*/
    background-color: #090D18;
}

/*Categorias*/
.categorias-menu {
    margin-inline: 3vw;
    color: #FFFFFF;
    font: 400 1vw "Poppins";
    text-decoration: none;
    transition: all 0.2s;
}

.categorias-menu:hover {
    letter-spacing: 0.25em;
}

.btn-list {
    margin-left: 5vw;
    width: 2vw;
    height: auto;
    cursor: pointer;
}

/*Carrossel*/
.container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

.slider.on {
    opacity: 1;
}

#voltar,
#proxima {
    position: absolute;
    top: 50%;
    background-color: #F8FBFF;
    opacity: 0.85;
    border: none;
    width: 2vw;
    height: 2vw;
    z-index: 10;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all 0.2s;
}

#voltar:hover,
#proxima:hover {
    opacity: 1;
}

#voltar {
    left: 0.6rem;
}

#proxima {
    right: 0.6rem;
}

#voltar img,
#proxima img {
    width: 100%;
    height: 100%;
}

/*Ofertas do Dia*/
.ofertas-do-dia {
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-areas:
        "titulo titulo titulo titulo titulo";
}

.ofertas-do-dia-titulo {
    font-weight: 600;
    font-size: 3vw;
    color: #090D18;
    grid-area: titulo;
    text-align: center;
    margin-top: 30vw;
}

.oferta {
    width: 16vw;
    height: 24vw;
    background: #FFFFFF;
    box-shadow: 0px 8px 20px -5px rgba(48, 48, 95, 0.2);
    border-radius: 0.5vw;
    margin-inline: 0.5vw;
    display: grid;
    transition: all 0.2s;
}

.oferta:hover, .produto:hover, .marca:hover {
    box-shadow: 0px 8px 20px -5px rgba(48, 48, 95, 0.4);
}

.oferta-titulo {
    font-size: 1vw;
    color: #090D18;
    margin: 0.5vw 1vw 0.5vw 1vw;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.oferta-titulo:hover {
    text-decoration: underline;
}

.preco-antes-oferta {
    font: 500 0.8vw "Poppins";
    color: dimgrey;
    text-decoration-line: line-through;
    margin: 0 1vw 0 1vw;
}

.preco-oferta {
    font: 700 1.4vw "Poppins";
    color: #0608C4;
    margin: 0 1vw 0 1vw;
}

.img-oferta, .img-produto {
    width: 10vw;
    height: 10vw;
    margin: 1vw auto auto auto;
}

.btn-comprar {
    width: 14vw;
    height: 2.4vw;
    background-color: #0608C4;
    color: #F8FBFF;
    font: 500 1vw "Poppins";
    text-transform: uppercase;
    border: none;
    border-radius: 0.3vw;
    margin: 0 1vw 0.5vw 1vw;
    transition: all 0.2s;
}

.btn-comprar:hover {
    background-color: #000276;
}

/*Slogan*/
.slogan {
    font: 700 2.4vw "Kode Mono";
    text-align: center;
    color: #090D18;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vw;
}

.slogan-btn {
    width: 50vw;
    height: 5vw;
    background: linear-gradient(94.47deg, #0002C4 0%, #62B6CB 102.42%);
    border-radius: 3vw 1vw;
    border: none;
    color: #F8FBFF;
    font: 700 3vw "Kode Mono";
    margin-bottom: 4vw;
}

/*Marcas Recomendadas*/
.marcas-recomendadas {
    display: grid;
    justify-content: center;
    grid-template-columns: 16vw 16vw 16vw 16vw 16vw;
    grid-template-rows: 1fr 1fr;
    column-gap: 1vw;
    color: #090D18;
}

.marcas-recomendadas-titulo {
    font: 600 3vw "Poppins";
    text-align: center;
}

.marca, .produto {
    width: 16vw;
    height: 12vw;
    background: #FFFFFF;
    box-shadow: 0px 8px 20px -5px rgba(48, 48, 95, 0.2);
    border-radius: 0.5vw;
    margin: auto 0.5vw 1.5vw 0.5vw;
    cursor: pointer;
    display: grid;
    justify-content: center;
    text-align: center;
    transition: all 0.2s;
}

.img-marca {
    width: 12vw;
    height: 6vw;
    margin: auto;
}

.marca-titulo {
    font-size: 0.8vw;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin: auto;
}

/*Banner*/
.banner {
    width: 100%;
}

.img-banner {
    width: 100%;
    height: auto;
    margin: 5vw auto;
}

/*Métodos de Pagamento*/
.histnav-titulo {
    font: 600 3vw "Poppins";
    text-align: center;
}

.histnav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2vw;
}

/*Rodapé*/
footer {
    background-color: #090D18;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulo-footer {
    color: #F8FBFF;
    font: 700 3vw "Poppins";
    margin: 2vw 6vw 0vw 6vw;
}

.line {
    width: 11.9vw;
    height: 0.8vw;
    margin: 0vw 6vw 1vw 6vw;
    background: linear-gradient(90deg, #0608C4 -35%, #62B6CB 100%);
}

.info-footer {
    font: 400 0.9vw "Poppins";
    color: #F8FBFF;
    margin: 1vw 6vw 3vw 6vw;
    text-align: left;
}

.categorias-footer {
    margin: 0;
}

a:-webkit-any-link {
    text-decoration: none;
    color: #F8FBFF;
    transition: all 0.2s;
    cursor: pointer;
}

a:-webkit-any-link:hover {
    font-weight: 500;
}


/*POR TIPO DE TELA*/
@media (max-width: 450px){

}